*{
  box-sizing: border-box;
}

body {
  margin:0;
  font-style:normal;
  font-weight:normal;
  background: #EDF3F8;
  color: #000;
  background-image: url(/img/back-img.png);
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% + 448px) -174px;
  }
